* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

button,
textarea,
input {
    border: none;
    outline: none;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

// dynamic banner here

.banner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-image: url(@/assets/img/default_banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// contents wrapp
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}
