.chat {
    width: 1200px;
    height: 498px;

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-mini__first {
            display: flex;
            align-items: center;
            margin-left: 30px;
            gap: 20px;

            &-img img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        &-mini__second {
            display: flex;
            align-items: center;
            margin-right: 30px;
            gap: 25px;

            &-progrees {
                cursor: progress;
            }

            &-pointer {
                cursor: pointer;
            }
        }
    }

    &__line {
        display: block;
        width: 100%;
        height: 1px;
        background: #2f313d;
    }

    &__body {
        width: 100%;
        overflow-y: auto;
        height: 370px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 15px;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background: #a3a0a0;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb:hover {
            cursor: pointer;
            background: #6d39fe;
        }

        &-welcome {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;

            h4 {
                font-size: 22px;
            }
        }

        .chat__message {
            max-width: 70%;
            padding: 10px 15px;
            border-radius: 12px;
            font-size: 14px;
            color: #fff;
            margin: 0.5rem 0;
            display: flex;
            align-items: center;
            gap: 10px;

            &--left {
                background: rgba(255, 255, 255, 0.27);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(6.6px);
                -webkit-backdrop-filter: blur(6.6px);
                border: 1px solid rgba(255, 255, 255, 0.3);
                border-radius: 12px 12px 12px 4px;
            }

            &--right {
                background-color: #6e3aff;
                border: 1px solid rgba(9, 3, 82, 0.35);
                border-radius: 12px 12px 4px 12px;
            }
        }

        .chat__avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;

            &--left {
                margin-right: 8px;
            }

            &--right {
                margin-left: 8px;
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 15px 15px;

        input {
            flex: 1;
            padding: 12px;
            border-radius: 8px;
            border: none;
            outline: none;
            color: #fff;
            margin-left: 20px;
            background: none;
        }

        &-clip,
        &-sticker,
        &-send {
            cursor: pointer;
            color: #fff;
        }

        &-box {
            display: flex;
            align-items: center;
            gap: 35px;
            margin: 0 45px;
        }
    }
}

.left {
    display: flex;
    align-items: center;
    text-align: left;
}

.right {
    display: flex;
    align-items: center;
    align-self: flex-end;
    text-align: right;
}
